# Core Deep Learning
torch
torchvision
torchaudio

# Computer Vision
ultralytics
opencv-python

# Data handling
numpy
pandas
scikit-learn

# Face Recognition
deepface
insightface
onnxruntime

# Person Re-Identification
torchreid

# Backend API
fastapi
uvicorn

# Dashboard
streamlit

# Utilities & Visualization
matplotlib
pillow
